h1 {
    color: blue;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p { 
    color: red;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: brown;
}

h3 {
    color: maroon;
}

h4 {
    color: green;
}

h5 {
    color: purple;
}

h6 {
    color: pink;
}